.App {
  text-align: center;
}

.container {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  height:94vh;
}

.footer {
  background-color:rgb(27, 74, 128);
  color: tan;
  text-align: center;
  font-size: 0.8em;
  height: 5vh;
  width: 100%;
}

.footer-text {
  margin: 0.3vh;
}

.header {
  background-color:rgb(27, 74, 128);
  color: tan;
  font-size: 2vh;
  height: 5vh;
  padding-top: 1vh;
  text-align: center;
}

.info-point {
  background-color:rgb(27, 74, 128);
  border-style: solid;
  color: tan;
  padding: 5px;
  width: 120px !important;
}

.header-title {
  margin: 0;
}
.map-container {
  width: 75%;
}

.place-listed {
  cursor: pointer;
}

.pic-of-place {
  border-style: solid;
  margin: 7%;
  max-width: 85%;
}

.sidebar {
  background-color:rgb(27, 74, 128);
  color: tan;
  height: 89vh;
  width: 25%;
}
