.App {
  text-align: center;
}

.container {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  height:94vh;
}

.header {
  background-color:rgb(27, 74, 128);
  color: tan;
  font-size: 2vh;
  height: 5vh;
  padding-top: 1vh;
  text-align: center;
}

.header-title {
  margin: 0;
}
.map-container {
  width: 75%;
}

.sidebar {
  background-color:rgb(27, 74, 128);
  color: tan;
  width: 25%;
}
